<div class="task-item">
  <input
    type="checkbox"
    [checked]="task.completed"
    (change)="toggleCompleted()"
  />

  <span *ngIf="!editMode">{{ task.title }}</span>
  <input *ngIf="editMode" [(ngModel)]="editedTitle" type="text" />

  <div>
    <button *ngIf="!editMode" (click)="enterEditMode()" class="edit">
      Edit
    </button>
    <button *ngIf="editMode" (click)="saveEdit()" class="save">Save</button>
    <button *ngIf="editMode" (click)="cancelEdit()" class="cancel">
      Cancel
    </button>
    <button (click)="deleteTask()" class="delete">Delete</button>
  </div>
</div>
